.cartst{
    max-width: 900px;
    margin: 80px auto;
    padding: 0 20px;
}

.cartst h2{
    margin-bottom: 30px;
    font-size: 2rem;
}

.empty-cart{
    text-align: center;
    color: #777;
    font-size: 1.1rem;
}

.cart-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-summary{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 1.3rem;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.checkout-btn{
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.checkout-btn:hover{
    background-color: #333;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    animation: scaleUp 0.2s ease;
}

.modal-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-btn{
    background: #ccc;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.confirm-btn{
    background: #2a9d8f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.confirm-btn:hover{
    background: #21867a;
}

@keyframes scaleUp{
    from { transform: scale(0.9); opacity: 0; }
    to {transform: scale(1); opacity: 1; }
}