.menu-section{
    max-width: 1100px;
    margin: 60px auto;
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}
/* padding: 80px 6%; */

.menu-title{
    font-size: 2.2rem;
    margin-bottom: 40px;
    text-align: center;
    color: #1c1c1c;
    font-weight: 600;
}

.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    justify-content: center;
}