.header{
    width: 100%;
    height: 80px;
    background: #0f172a;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.logo span{
    color: #f97316;
}

.nav{
    display: flex;
    gap: 24px;
}

.nav a{
    color: #cbd5e1;
    text-decoration: none;
    font-size: 15px;
}

.nav a:hover{
    color: yellow;
}

.nav a.active{
    color: #fff;
    font-weight: 500;
}

.actions{
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-menu{
    padding: 10px 16px;
    background: #f97316;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
}

.btn-menu:hover{
    opacity: 0.9;
}

.cart{
    position: relative;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.cart-cout{
    position: absolute;
    top: -6px;
    right: -10px;
    background: #ef4444;
    color: #fff;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 999px;
}

.menu-toggle{
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

@media (max-width: 700px){
    .nav{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #0f172a;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        transform: translateY(-200%);
        transition: 0.3s ease;
    }

    .nav.open{
        transform: translateY(0);
    }

    .menu-toggle{
        display: block;
    }
}
